.content {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 130px;
}

.button {
  width: 73px;
  height: 45px;
  background: #1e1e1e;
  border: none;
  border-radius: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 40px;
  cursor: pointer;
}

.button:hover {
  opacity: 0.5;
}

.buttonText {
  margin: 0;
  padding: 0;
  color: #205050;
  font-size: 50px;
  font-weight: 700;
}

.item + .item {
  margin-left: 40px;
}

.span {
  position: absolute;
  font-family: "DotGothic16", Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 100;
  line-height: 17px;
  letter-spacing: -0.3em;
  color: #000000;
  border-bottom: solid #000000 1px;
  text-transform: uppercase;
  width: 70px;
}

.inputs {
  position: relative;
  margin-left: 40px;
}

.inputContent {
  margin: 0;
  padding: 0;
  border-bottom: solid #ffe5e57d 1px;
}

.input {
  border: none;
  border-radius: 0;
  background-color: transparent;
  width: 415px;
  height: 44px;
  padding: 0;
}
