.content {
  display: flex;
  flex-direction: row;
}

.selectorContent {
  padding: 4px 10px;
  background-color: #198975b2;
  display: flex;
  flex-direction: row;
}

.img {
  width: 15px;
  padding: 0;
  margin: 0;
}

.currencyName {
  padding: 0;
  margin: 0;
  margin-right: 10px;
  font-family: "DotGothic16", Arial, Helvetica, sans-serif;
  color: #ffe5e5;
}
