.item {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid rgb(206, 206, 206) 1px;
  width: 100%;
  max-width: 500px;
}

.text {
  font-family: "DotGothic16", Arial, Helvetica, sans-serif;
  color: rgb(255, 229, 229);
  font-size: 15px;
}

.input {
  padding: 10px 10px;
  background-color: transparent;
  border: none;
  width: 100%;
}

.input:disabled {
  opacity: 1;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputActive {
  border: solid rgb(206, 206, 206) 1px;
}

.inputNumber {
  max-width: 80px;
  text-align: right;
}

.deleteBtn {
  color: red;
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
