.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid rgb(206, 206, 206) 1px;
  width: 320px;
}

.text {
  font-family: "Courier New", Courier, monospace;
  color: rgb(255, 229, 229);
}

.text + .text {
  margin-left: 20px;
}

.input {
  padding: 10px 5px;
  background-color: transparent;
  border: none;
  outline: none;
}

.input:disabled {
  opacity: 1;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputActive {
  border: solid rgb(206, 206, 206) 1px;
}
