.content {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin: 20px 0;
  max-width: 500px;
}

.item {
  border: none;
  background-color: transparent;
  color: rgb(255, 229, 229);
}

.item + .item {
  margin-left: 10px;
}

.input {
  border-bottom: solid rgb(255, 229, 229) 1px;
  outline: none;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}s

.button {
  border: solid rgb(255, 229, 229) 1px;
  cursor: pointer;
}

.button:hover {
  opacity: 0.5;
}
