.content {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin: 20px 0;
  padding: 0 20px;
}

.item {
  border: none;
  background-color: transparent;
  color: rgb(255, 229, 229);
}

.item + .item {
  margin-left: 10px;
}

.input {
  width: 250px;
  border-bottom: solid rgb(255, 229, 229) 1px;
}

.button {
  width: 50px;
  border: solid rgb(255, 229, 229);
  cursor: pointer;
}

.button:hover {
  opacity: 0.5;
}
