.content {
  width: 100%;
  border-bottom: #2a2a2a 1px solid;
  background-color: #2a2a2a;
}

.title {
  color: #ffe5e5;
  font-family: "DotGothic16", Arial, Helvetica, sans-serif;
  font-size: 30px;
  margin: 0;
  padding: 10px 10px;
  font-weight: 100;
  text-transform: uppercase;
}
