.content {
  display: flex;
  flex-direction: column;
}

.text {
  font-family: "DotGothic16", Arial, Helvetica, sans-serif;
  font-weight: 100;
  margin: 10px 0;
  color: #ffe5e5;
}

.subtitle {
  opacity: 0.5;
}

@media screen and (max-width: 769px) {
  .text {
    text-align: center;
  }
}
