.content {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.button {
  text-transform: uppercase;
}

.button {
  border: solid rgb(255, 229, 229) 1px;
  cursor: pointer;
  font-size: 20px;
  box-shadow: 3px 3px rgba(0, 128, 128, 0.707);
}

.button:hover {
  transform: translate(1px, 1px);
  box-shadow: 0px 0px rgba(0, 128, 128, 0);
  transition: all 0.2s ease-in;
}
