.input {
  width: 100%;
  background-color: transparent;
  border: none;
  font-family: "DotGothic16", Arial, Helvetica, sans-serif;
  color: rgb(255, 229, 229);
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::placeholder {
  font-size: 11px;
  text-align: center;
}
